<ul id="drilldown" class="nav nav-pills nav-stacked sidenav">
    <li>Navigation</li>
    <li><a href="/addon-project/wiki/index">Stratus Network</a></li>
    {{> nav_item}}
    <li>Page Tools</li>
    <li><a href="https://github.com/MCResourcePile/addon-project/edit/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Edit this page</a></li>
    <li><a href="https://raw.githubusercontent.com/MCResourcePile/addon-project/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Page source</a></li>
    <li><a href="https://github.com/MCResourcePile/addon-project/commits/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Page history</a></li>
    <li>Wiki Tools</li>
    <li><a href="/revisions/addonproject">Recent changes</a></li>
    <li><a href="/addon-project/wiki/tools/contributing">Contributing</a></li>
</ul>