<ul class="nav nav-pills nav-stacked sidenav">
    <li>Navigation</li>
    <li><a href="/addon-project/wiki">Stratus Network</a></li>
    <% _.each(_.where(documents, {"category": "wiki"}), function (document) { %><li><a href="/addon-project/<%= document.dest.replace('.html', '') %>"><%= document.title %></a></li><% }); %>
    <li>Tools</li>
    <% _.each(_.where(documents, {"category": "tools"}), function (document) { %><li><a href="/addon-project/<%= document.dest.replace('.html', '') %>"><%= document.title %></a></li><% }); %>
</ul>