<ul id="drilldown" class="nav nav-pills nav-stacked sidenav">
    <li>Navigation</li>
    <li><a href="/addon-project/wiki/index">Stratus Network</a></li>
    <li>
        <a href="/addon-project/wiki/history" data-toggle="collapse" data-target="#menu-history">History</a>
        <div style="padding-left:0px;">
            <ul id="menu-history" class="nav nav-pills nav-stacked collapse sidenav">
                <% _.each(_.where(documents, {"category": "history"}), function (page) { %>
                <li class="sidenav-sub"><a href="/addon-project/<%= page.dest.replace('.html', '') %>"><%= page.title %></a></li>
                <% }); %>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/ranks" data-toggle="collapse" data-target="#menu-ranks">Ranks</a>
        <div style="padding-left:0px;">
            <ul id="menu-ranks" class="nav nav-pills nav-stacked collapse sidenav">
                <% _.each(_.where(documents, {"category": "ranks"}), function (page) { %>
                <li class="sidenav-sub"><a href="/addon-project/<%= page.dest.replace('.html', '') %>"><%= page.title %></a></li>
                <% }); %>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/events" data-toggle="collapse" data-target="#menu-events">Events</a>
        <div style="padding-left:0px;">
            <ul id="menu-events" class="nav nav-pills nav-stacked collapse sidenav">
                <% _.each(_.where(documents, {"category": "events"}), function (page) { %>
                <li class="sidenav-sub"><a href="/addon-project/<%= page.dest.replace('.html', '') %>"><%= page.title %></a></li>
                <% }); %>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/gamemodes" data-toggle="collapse" data-target="#menu-games">Gamemodes</a>
        <div style="padding-left:0px;">
            <ul id="menu-games" class="nav nav-pills nav-stacked collapse sidenav">
                <% _.each(_.where(documents, {"category": "games"}), function (page) { %>
                <li class="sidenav-sub"><a href="/addon-project/<%= page.dest.replace('.html', '') %>"><%= page.title %></a></li>
                <% }); %>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/guides" data-toggle="collapse" data-target="#menu-guides">Guides</a>
        <div style="padding-left:0px;">
            <ul id="menu-guides" class="nav nav-pills nav-stacked collapse sidenav">
                <% _.each(_.where(documents, {"category": "guides"}), function (page) { %>
                <li class="sidenav-sub"><a href="/addon-project/<%= page.dest.replace('.html', '') %>"><%= page.title %></a></li>
                <% }); %>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/gameplay" data-toggle="collapse" data-target="#menu-gameplay">Gameplay Mechanics</a>
        <div style="padding-left:0px;">
            <ul id="menu-gameplay" class="nav nav-pills nav-stacked collapse sidenav">
                <% _.each(_.where(documents, {"category": "gameplay"}), function (page) { %>
                <li class="sidenav-sub"><a href="/addon-project/<%= page.dest.replace('.html', '') %>"><%= page.title %></a></li>
                <% }); %>
            </ul>
        </div>
    </li>
    <li>Page Tools</li>
    <li><a href="https://github.com/MCResourcePile/addon-project/edit/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Edit this page</a></li>
    <li><a href="https://raw.githubusercontent.com/MCResourcePile/addon-project/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Page source</a></li>
    <li><a href="https://github.com/MCResourcePile/addon-project/commits/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Page history</a></li>
    <li>Wiki Tools</li>
    <li><a href="/revisions/addonproject">Recent changes</a></li>
    <% _.each(_.where(documents, {"category": "tools"}), function (page) { %>
    <li><a href="/addon-project/<%= page.dest.replace('.html', '') %>"><%= page.title %></a></li>
    <% }); %>
</ul>