                <hr>
                Last modification: <span id="last-page-mod">unknown</span>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row center" style="width: 70%">
                    <div class="footer-section col-md-3">
                        <div class="footer-section-head">About</div>
                        <a class="footer-item" href="/staff">Staff</a>
                        <a class="footer-item" href="/updates">Updates</a>
                        <a class="footer-item" href="https://discord.gg/ygNgxKj">Discord</a>
                    </div>
                    <div class="footer-section col-md-3">
                        <div class="footer-section-head">Development</div>
                        <a class="footer-item" href="/revisions/website">Revisions</a>
                        <a class="footer-item" href="https://github.com/MCResourcePile" target="_blank">GitHub</a>
                        <a class="footer-item" href="https://github.com/MCResourcePile/addon-project/issues/new" target="_blank">Report an Issue</a>
                    </div>
                    <div class="footer-section col-md-3">
                        <div class="footer-section-head">Administration</div>
                        <a class="footer-item" href="/policies/terms">Terms of Use</a>
                        <a class="footer-item" href="/policies/maps">Map Policy</a>
                        <a class="footer-item" href="/admin/references/maps">References</a>
                        <a class="footer-item" href="/maps/downloads">Download Stats</a>
                    </div>
                    <div class="footer-section col-md-3">
                        <div class="footer-section-head">Site</div>
                        <a class="footer-item" href="/tools">Tools</a>
                        <a class="footer-item" href="/admin/preferences">Preferences</a>
                        <a class="footer-item" href="/addon-project/wiki">Addon Project</a>
                    </div>
                </div>
                <div class="footer-bottom center">
                    <div class="resourcepile-copyright-year"></div>
                </div>
            </div>
        </div>
        <script src="https://mcresourcepile.github.io/assets/js/commons.js"></script>
        <script>
            $(document).ready(function(){
                $("[href='/addon-project/<%= document.dest.replace('.html', '') %>']").parent('li').addClass("active").children('div').children('ul').removeClass('collapse');
                $("li.sidenav-sub.active").parent('ul').removeClass('collapse');
            });
            $(function() {
                $('#last-page-mod').githubInfoWidget({ user: 'MCResourcePile', repo: 'addon-project', branch: 'source', path: 'src/content/<%= document.src.replace(".html", ".md") %>', nouser: true, nomsg: true, abstime: false, simple: 1, last: 1, limitMessageTo: 500 });
            });
        </script>
    </body>
</html>
