  <html>
    <head>
        <title><%= title %> - ResourcePile Wiki</title>
        <!-- Page meta data -->
        <meta charset=" UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="<%= description %>" name="description">
        <meta content="<%= title %> - ResourcePile Wiki" property="og:title">
        <meta content="<%= description %>" name="og:description">
        <meta content="website" property="og:type">
        <meta content="ResourcePile Wiki" property="og:site_name">
        <meta content="https://mcresourcepile.github.io/wiki" property="og:url">
        <meta content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg" property="og:image">
        <meta content="summary" name="twitter:card">
        <meta content="<%= title %> - ResourcePile Wiki" name="twitter:title">
        <meta content="<%= description %>" name="twitter:description">
        <meta content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg" name="twitter:image">
        <!-- Page stylesheets -->
        <link href="https://mcresourcepile.github.io/assets/css/bootstrap.css" rel="stylesheet">
        <link href="https://mcresourcepile.github.io/assets/css/main.css" rel="stylesheet">
        <link href="/addon-project/assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="https://mcresourcepile.github.io/assets/favicon.ico">
        <!-- Page script files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://mcresourcepile.github.io/assets/js/bootstrap.min.js"></script>
        <script src="https://mcresourcepile.github.io/assets/js/js.cookie.js"></script>
        <script src="https://mcresourcepile.github.io/assets/js/preferences.js"></script>
        <script src="/addon-project/assets/js/github.commits.widget.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-91801520-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K9MLTDB');</script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">
                        <span class="fa fa-folder-open navbar-brand-icon" aria-hidden="true"></span>
                        <span class="navbar-brand-stacked">
                            <span class="stack">ResourcePile</span><br>
                            <span class="stack stack-small">with Stratus Addon Project</span>
                        </span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-cubes"></i> Maps <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/maps/overcast">Overcast Collection</a></li>
                                <li><a href="/maps/pgm">PGM Collection</a></li>
                                <li><a href="/maps/stratus">Stratus Collection</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-map"></i> Map Contests <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/contests/overcast">Overcast Network</a></li>
                                <li><a href="/contests/stratus">Stratus Network</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-trophy"></i> Tournaments <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/leagues/overcast">Overcast Network</a></li>
                                <li><a href="/leagues/pgm">PGM Community</a></li>
                                <li><a href="/leagues/stratus">Stratus Network</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-bar-chart"></i> Statistics <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><p class="navbar-menu-title">Overcast</p></li>
                                <li><a href="/stats/overcast/bow">Bow Records</a></li>
                                <li><a href="/stats/overcast/miscellaneous">Miscellaneous</a></li>
                                <li><a href="/stats/overcast/objective">Objective Leaderboards</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="/addon-project/wiki"><i class="fa fa-globe"></i> Wiki</a></li>
                        <li><a href="/updates"><span class="fa fa-newspaper-o"></span> Updates</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-background">
            <div class="container">
                <div class="content-header">
                    <div class="content-alert">
                        <%= partial('partials/alert.html') %>
                    </div>
                    <div class="content-title"><%= title %> <a class="content-title-url" href="/addon-project/<%= document.dest.replace('.html', '') %>"><i class="fa fa-link" aria-hidden="true"></i> <%= (document.src).replace('.md', '') %></a></div>
                    <div class="content-subtitle"><%= description %></div>
                </div>
