<ul id="drilldown" class="nav nav-pills nav-stacked sidenav">
    <li>Navigation</li>
    <li><a href="/addon-project/wiki/index">Stratus Network</a></li>
    <li>
        <a href="/addon-project/wiki/events" data-toggle="collapse" data-target="#menu-events">Events</a>
        <div style="padding-left:0px;">
            <ul id="menu-events" class="nav nav-pills nav-stacked collapse sidenav">
                <li class="sidenav-sub"><a href="/addon-project/events/halloween_2017">Halloween 2017</a></li>
                <li class="sidenav-sub"><a href="/addon-project/events/map_contests">Map Contests</a></li>
                <li class="sidenav-sub"><a href="/addon-project/events/tournaments">Tournaments</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/events.md" data-toggle="collapse" data-target="#menu-events">Events</a>
    </li>
    <li>
        <a href="/addon-project/wiki/gamemodes" data-toggle="collapse" data-target="#menu-gamemodes">Gamemodes</a>
        <div style="padding-left:0px;">
            <ul id="menu-gamemodes" class="nav nav-pills nav-stacked collapse sidenav">
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/ctf">Ctf</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/ctw">Ctw</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/dtc">Dtc</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/dtm">Dtm</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/koth">Koth</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/other">Other</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/payload">Payload</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gamemodes/tdm">Tdm</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/gamemodes.md" data-toggle="collapse" data-target="#menu-gamemodes">Gamemodes</a>
    </li>
    <li>
        <a href="/addon-project/wiki/gameplay" data-toggle="collapse" data-target="#menu-gameplay">Gameplay</a>
        <div style="padding-left:0px;">
            <ul id="menu-gameplay" class="nav nav-pills nav-stacked collapse sidenav">
                <li class="sidenav-sub"><a href="/addon-project/gameplay/droplets">Droplets</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gameplay/mutations">Mutations</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gameplay/mvp">Mvp</a></li>
                <li class="sidenav-sub"><a href="/addon-project/gameplay/tokens">Tokens</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/gameplay.md" data-toggle="collapse" data-target="#menu-gameplay">Gameplay</a>
    </li>
    <li>
        <a href="/addon-project/wiki/guides" data-toggle="collapse" data-target="#menu-guides">Guides</a>
        <div style="padding-left:0px;">
            <ul id="menu-guides" class="nav nav-pills nav-stacked collapse sidenav">
                <li class="sidenav-sub"><a href="/addon-project/guides/commands">Commands</a></li>
                <li class="sidenav-sub"><a href="/addon-project/guides/new_player_guide">New Player Guide</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/guides.md" data-toggle="collapse" data-target="#menu-guides">Guides</a>
    </li>
    <li>
        <a href="/addon-project/wiki/history" data-toggle="collapse" data-target="#menu-history">History</a>
        <div style="padding-left:0px;">
            <ul id="menu-history" class="nav nav-pills nav-stacked collapse sidenav">
                <li class="sidenav-sub"><a href="/addon-project/history/ocn">Ocn</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/history.md" data-toggle="collapse" data-target="#menu-history">History</a>
    </li>
    <li>
        <a href="/addon-project/wiki/index.md" data-toggle="collapse" data-target="#menu-index">Index</a>
    </li>
    <li>
        <a href="/addon-project/wiki/ranks" data-toggle="collapse" data-target="#menu-ranks">Ranks</a>
        <div style="padding-left:0px;">
            <ul id="menu-ranks" class="nav nav-pills nav-stacked collapse sidenav">
                <li class="sidenav-sub"><a href="/addon-project/ranks/administrator">Administrator</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/advisor">Advisor</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/alto">Alto</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/cirro">Cirro</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/content_creator">Content Creator</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/developer">Developer</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/event_producer">Event Producer</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/internet_famous">Internet Famous</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/junior_developer">Junior Developer</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/junior_moderator">Junior Moderator</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/map_developer">Map Developer</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/map_maker">Map Maker</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/marketing">Marketing</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/moderator">Moderator</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/nimbus">Nimbus</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/official">Official</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/referee">Referee</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/senior_moderator">Senior Moderator</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/senior_referee">Senior Referee</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/strato">Strato</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/stratus_minus">Stratus Minus</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/stratus_plus">Stratus Plus</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/tournament_winner">Tournament Winner</a></li>
                <li class="sidenav-sub"><a href="/addon-project/ranks/trial_rank">Trial Rank</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/addon-project/wiki/ranks.md" data-toggle="collapse" data-target="#menu-ranks">Ranks</a>
    </li>
    <li>
        <a href="/addon-project/wiki/tools" data-toggle="collapse" data-target="#menu-tools">Tools</a>
        <div style="padding-left:0px;">
            <ul id="menu-tools" class="nav nav-pills nav-stacked collapse sidenav">
                <li class="sidenav-sub"><a href="/addon-project/tools/contributing">Contributing</a></li>
            </ul>
        </div>
    </li>
    <li>Page Tools</li>
    <li><a href="https://github.com/MCResourcePile/addon-project/edit/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Edit this page</a></li>
    <li><a href="https://raw.githubusercontent.com/MCResourcePile/addon-project/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Page source</a></li>
    <li><a href="https://github.com/MCResourcePile/addon-project/commits/source/src/content/<%= document.dest.replace('.html', '.md') %>" target="_blank">Page history</a></li>
    <li>Wiki Tools</li>
    <li><a href="/revisions/addonproject">Recent changes</a></li>
    <li><a href="/addon-project/wiki/tools/contributing">Contributing</a></li>
</ul>