.sidenav > li > a {
    padding: 0px 15px;
}

.sidenav-sub {
    padding-left: 12px;
}

.sidenav > li.active > a {
    background-color: rgba(255, 255, 255, 0);
    color: #337ab7;
    font-weight: 600;
    margin-bottom: 2px;
}


.sidenav > li > a:hover,
.sidenav > li > a:focus,
.sidenav > li.active > a:hover,
.sidenav > li.active > a:focus {
    background-color: #f0f0f0;
    color: #337ab7;
}

.content-title-url,
.content-title-url:hover,
.content-title-url:focus {
    font-size: 18px;
    color: #908d8d;
    text-decoration: none;
}

.navbar-brand-stacked {
    display: inline-block;
    margin-top: -10px;
    margin-left: 6px;
}

.navbar-brand-icon {
    vertical-align: 10px;
}

.stack-small {
    font-size: 12px;
    color: #818181;
}
